# environments
.venv/
.env

# COCO API
cocoapi/

# Data Folder
Data/
Dataset/
test/

# outputs
nohup.out
videoTrain_nohup.out
imageTrain2017_nohup.out

# programs file
programs/

# model files
image_caption-model**
video_caption-model**
video_caption-ckpt-model**
video_models/

# pycache
__pycache__/

